<div
  class="formsflow-alert formsflow-alert--info formsflow-alert--no-icon no-drag"
  style="text-align:center;"
  role="alert"
  data-noattach="true"
  data-position="{{ctx.position}}"
>
  <div clas="formsflow-alert__body">
    {{ctx.t('Drag and Drop a form component')}}
  </div>
</div>
