<div id="{{ctx.attrs.id}}" class="formsflow-alert formsflow-alert--{{ctx.type === 'danger' ? 'error' : ctx.type}} formsflow-alert--no-icon">
  {{ctx.message}}
  <span class="formsflow-sr-only" id="hotkey-i-{{ctx.form._id}}">{{ctx.t('errorListHotkey')}}</span>
</div>
